body{
    background-color: #fff9eb;
}

img {
    width: 500px;
}

h2{
    color: #38b36b;
}

body{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

iframe{
    width: 800px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

header{
    text-align: center;
}